#publish .element_meta_table td {border-top: 1px solid #D1D5DE;}


input.element_box, input.element_box:focus {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100% !important;
	border: 0 !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
	background: none;
	height: 30px;
	margin: 0;
}

input.element_box:focus
{
	border: 1px solid black !important; 
	background-color: white !important;		
	
}

table.element_meta_table .line_number {
	padding: 5px;
	width: 20px;
	text-align: right;
	
	display: none;
}

table.element_meta_table tbody .line_number {
	background-color: #D1D5DE;
	color: #ECF1F4;
}

table.element_meta_table {
	border-collapse: collapse;
	border-bottom: 1px solid #D1D5DE;
	border-left: 1px solid #D1D5DE;
	margin: 0;
}

table.element_meta_table tr td {
	border-top: 1px solid #D1D5DE;
	border-right: 1px solid #D1D5DE;
	background: white;
	padding: 0;
	margin: 0;
}

table.element_meta_table tr td .element_meta_table_td_wrapper
{
	position: relative;
	min-height: 30px;
	overflow: hidden;
	padding: 0;
	margin: 0;	
}

.element_meta_table_buttons {
	padding: 5px 0 0 0;
}

.element_meta_table_button {
	color: #4A575F !important;
	text-decoration: none !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	 	
	padding: 7px 10px 7px 10px;
	margin: 10px 10px 0 0;
	float: left;
	font-size: 11px;
	background: #D2DBE3 url(../../images/btn_default.jpg); 
	box-shadow: 0px 0px 2px #D2DBE3;
}
.element_meta_table_button:hover
{
	color: black !important;
	background: #D0D8E0 url(); 	
}

.element_meta_table_buttons_col  .element_meta_table_button 
{
	display: block;
	width: 80px;
	text-align: center;	
	clear: both;
	padding: 7px 0 7px 0;
	margin: 0 0 10px 10px;
}

table.element_meta_table thead td
{
	background: #ecf1f4 url(header_bg.jpg);
}

table.element_meta_table tbody tr td .ce_table_draggable
{
	display: block;
	background: url(../../images/draggable.gif);	
	height: 13px;
	width: 9px;	
	position: absolute;
	right: 10px;
	top: 8px;		
	cursor: pointer;	
}


.content_elements_icon_table
{
	background-image: url(ico.png) !important;;
}

table.element_meta_table tr td .list_field {
/*    padding: 5px 0 0 5px;*/
}

table.element_meta_table tr td input.element_box:focus {
    border: none !important;
    margin-left: 1px;
}

table.element_meta_table tr td .relationship_field input.element_box,
table.element_meta_table tr td .relationship_field input.element_box:focus  {
    width: 95% !important;
}

table.element_meta_table tr td.drag_cell {
    padding-left: 5px;
}

table.element_meta_table .template {
    display: none;
}

select.element_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    border: 0 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: none;
    height: 30px;
    margin: 0;
}

.file_set {
	color: #5F6C74;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	position: relative;
}
.filename {
	border: 1px solid #B6C0C2;
	position: relative;
	padding: 5px;
	text-align: center;
	float: left;
	margin: 0 0 5px;
}
.undo_remove {
	color: #5F6C74;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	display: block;
	padding: 0;
	margin: 0 0 8px;
}
.filename img {
	display: block;
}
.filename p {
	padding: 0;
	margin: 4px 0 0;
}
.remove_file {
	position: absolute;
	top: -6px;
	left: -6px;
	z-index: 5;
}
.clear {
	clear: both;
}
.meta_filename {
    font-weight: bold;
    padding-left: 5px;
}

.file_field .element_box {
    padding: 5px;
}

.file_field .file_thumb {
    display: block;
    margin-left: 75px;
    margin-top: 5px;
}
.file_field .file_thumb .remove_file {
    display: block;
    position: relative;
    left: 0;
    top: 0;
}